<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sc_SpeechNotepad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E1ED5DE51FC6B7A00079C666</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1ED5E011FC6B7A00079C666</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1ED5E0C1FC6B7A00079C666</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
